<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="container mt-5 mb-5 text-center">
    
    <!-- Profile Image -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <img src="/images/photo.jpg" alt="photo" class="img-fluid rounded-circle mb-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>About Me</h2>
            <h4>Edgar Fernando Espinosa Rondon</h4>
            <p>
                I am an international student in Centennial College. I aspire to be a web developer and software engineer. Outside of tech, I have an interest in video games and movies.
            </p>

            <a href="/resume2023.pdf" target="_blank" class="btn btn-primary">View My Resume</a>
        </div>
    </div>

</div>

<%- include('partials/footer') %>
