<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Hero Section -->
<div class="jumbotron bg-warning text-dark">
    <h1 class="display-4">Welcome to my portfolio!</h1>
    <p class="lead">Here, you can see my projects, services I can offer and general information about me.</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-lg" href="/about" role="button">Learn More</a>
</div>

<%- include('partials/footer') %>
