<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Projects Section -->
<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Highlighted Projects</h2>
    
    <!-- Project 1 -->
    <div class="row project-item">
        <div class="col-md-7">
            <img src="/images/multiplicationtable.png" alt="Project 1 Image" class="img-fluid">
        </div>
        <div class="col-md-5">
            <h5>Multiplication Table Generator</h5>
            <p>- Developed an interactive platform in HTML and JavaScript for users to generate customized multiplication tables by specifying rows and columns.<br>
                - Incorporated a responsive design ensuring the table is displayed correctly across various devices.</p>
        </div>
    </div>

    <!-- Project 2 -->
    <div class="row project-item mt-4">
        <div class="col-md-5">
            <h5>Bug Smasher</h5>
            <p>- Developed a dynamic game using JavaScript where players "smash" bugs.
                <br>
                - Integrated a progressive difficulty mechanism, increasing the speed of bugs as the game progresses.
                <br>
                - Implemented a scoring system to track and display player's achievements.</p>
        </div>
        <div class="col-md-7">
            <img src="/images/bugsmasher.png" alt="Project 2 Image" class="img-fluid">
        </div>
    </div>

    <!-- Project 3 -->
    <div class="row project-item mt-4">
        <div class="col-md-7">
            <img src="/images/csvdata.png" alt="Project 3 Image" class="img-fluid">
        </div>
        <div class="col-md-5">
            <h5>Popularity Data for Programming Languages</h5>
            <p> - Developed a tool for visualizing programming language popularity over time.
                <br>
                - Integrated CSV file input functionality for data import and display.
                <br>
            </p></p>
        </div>
    </div>

    <!-- Add more projects similarly -->

</div>

<%- include('partials/footer') %>
